<!doctype html>
<head>
<link rel="icon" href="data:,">
<title>Viplab Standalone Frontend</title>
</head>
<body data-wsapi='{{ wsapi }}'>
  <h2>Hello  explorer</h2>
  I found the following templates in example folder:
  <div>
    <ul id="templates">
      {% for temp in templates %}
      <li>{{ temp }}:
        <a href="{{ url_for('explore_computation_simple', filename=temp) }}">
          simple</a>
        <a href="{{ url_for('explore_computation_vue', filename=temp) }}">
          vue</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div><button type="button" id="submit" disabled="true">Submit</button> {{ digest }}</div>
  <h2>InputFiles</h2>
  <div id="inputfiles" data-template='{{ data }}' data-token='{{ token }}'></div>
  <h2>Stdout</h2>
  <div>
    <textarea id="stdout" class="stdout" rows=20 cols=120></textarea>
  </div>
  <h2>Stderr</h2>
  <div>
    <textarea id="stderr" class="stderr" rows=20 cols=120></textarea>
  </div>
  <div>
    <ul id="fileList">
    </ul>
  </div>
  <script src="/static/js/simple/base64.js"></script>
  <script src="/static/js/simple/main.js"></script>
</body>
